@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@700&family=Kadwa:wght@700&display=swap');

body {
    margin: 0px;
    width: 100%;
}

/* Navigation bar */
#header {
    align-items: center;
    background-color:#fff;
    box-shadow: 4px 2px 8px ;
    display: flex;
    height: 4.5rem;
    justify-content: space-between;
    position: fixed;
    transition: 0.3s;
    top: 0;
    width: 100%;
    z-index: 10;
}

#left-header {
    height: inherit;
}

 /* AMBU logo */
#left-header img {
    height: 4.75rem;
    margin-left: 4px;
    transition: 0.3s;
}

/* right Navbar */
.right-header{
    display: flex;
    justify-content: space-evenly;        
}

/* Navbar Options */
.right-header-element {
    align-items: center;  
    display: flex;
    font-family: 'Jaldi',sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    justify-content: space-around;
    margin-right: 2rem;
    margin: 1rem;
    padding: 1.5rem;        
}

/* Language */
.right-header-element select {
    background-color: rgb(211, 211, 211);
    border-radius: 0.5rem;
    border: none;
    box-shadow: 2px 2px 1px #000;
    padding: 3px 9px 3px 9px;
    text-shadow: inherit;
}

.right-header-element abbr {
    text-decoration: none;
    transition: 0.15s;
}
.right-header-element abbr:hover{
    background-color: #ccc;
    padding: .4rem;
}
  
/* Body */
#content {
    background-image: url(images/surgery-1822458_1280\ 1.png);
    background-size: cover;
    display: flex;
    height: 105vh;
    justify-content: space-between;
    margin-top: 4.5rem;
    transition: 0.5s;
    width: 100vw;
}

/* Left Body */
.body-left {
    margin: 2rem;
    margin-top: 3rem;
    width: 100%;
}

/* AMBU */
.body-left h1 {     
    color: #fee; 
    font-weight: bolder;
    font-size: 7rem;
    line-height: 5rem;
    text-shadow: 2px 2px 2px rgb(207, 45, 45);    
}

/* Unified health care... */
.body-left p {
    color: #fee;
    font-size: 2.5rem;
    line-height: 3rem;
    text-shadow: -2px 2px 2px #000;
}

/* Download button */
.body-left button {
    border-radius: 2rem;
    font-size: 2.3rem;
    margin-left: 1rem;
    margin-top: 4vh;
    padding: 10px;
} 


.body-left button .download-app {
    color: #e54;
    font-size: 2.3rem;
    text-shadow: 2px 2px 2px black;                
}

.android img {
    width: 2.3rem;
}

/* Right Body */
.body-right {
    align-content: center;  
    background-color: rgb(100, 227, 214, 0.8);
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Sign-up  */
.Signup {
    display: flex;
    justify-content: space-between;
}

.Signup-form{
    align-items: center;
    font-family: 'Kadwa',serif;
    margin-left: 4%;
    width: 100%;
}

.input-icons {
    margin-top:1.4rem;
    width: 100%;
}

.input-field {
    background-color: #ddd;
    border: #ddd;
    border-radius: 1rem;
    font-size: 1.1rem;
    padding: 0.8rem;
    text-align: center;
    width: 60%;
}

input[type="text"],[type="mob"],[type="password"]
{
    font-size:1.9rem;
}



.login-form .signin {
    margin-top: 7vh;
}

.Proceed button {   
    background-color:#2b3;
    border-radius: 1rem;
    color: #000;
    height: 3.4rem;
    font-size: 1.8rem;
    font-weight: bolder;
    font-family: 'Kadwa', serif;
    margin-top: 1.4rem;
    width: 65%;
}
.Proceed button:hover{
    opacity: 0.8;
}


#fullname {
    background-image: url(images/\ icon\ _Identification_.png);
    background-repeat: no-repeat;
    background-position-x: 0.5rem;
    background-position-y: center;
}

#mobileno {
    background-image: url(images/\ icon\ _phone_.png);
    background-repeat: no-repeat;
    background-position-x: 0.5rem;
    background-position-y: center;
}

#password {
    background-image: url(images/\ icon\ _lock_.png);
    background-repeat: no-repeat;
    background-position-x: 0.5rem;
    background-position-y: center;
} 

#repassword {
    background-image: url(images/\ icon\ _key_.png);
    background-repeat: no-repeat;
    background-position-x: 0.5rem;
    background-position-y: center;
}
    
/* Input placeholder */
.Signup-form input::placeholder{
    color: rgb(68, 64, 64);
    font-size: 1.9rem;
}

/* Because we care */
.theme {
    background-color:#2b3; 
    border-radius: 1rem 0rem 0rem 1rem;
    color: #fff;
    margin-top: 0.5rem;
    position: fixed;
    right: 0;
    width: 4rem;        
}

.theme p {
    color: #fff;
    font-weight: bold;
    font-size: 1.8rem; 
    font-family: 'Kadwa',serif;    
    margin: 70% 0% 70% 0%;
    padding: 2px 0px 2px 0px;
    rotate: 180deg;
    text-align: center;
    writing-mode: vertical-rl;  
}
       
/* login & emergency button */
.options {
    display: flex;
    font-family: 'Kadwa',serif;
    font-size: 3rem;
    font-weight: bold;
    justify-content: space-evenly;
    margin-left: 2rem;
}

/*chatbox */
.chatbox img {
    bottom: 0;
    margin: 0.5rem;
    margin-right: 0.5rem;
    position: fixed;
    right: 0;
    transition: 0.2s;
    width: 4.3rem;
}

.chatbox :hover{
    width:6rem;
}

button {
    border: none;
}

button:hover {
    cursor: pointer;    
}

a {
    text-decoration: none;
    color: #000;
}
