* {
    margin: 0;
    padding: 0;
  }
  
  /* Code Start */
  
  body {
    background-color: #b6fdec;
    font-family: "Kadwa", serif;
    min-height: 100vh;  
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  /* Side Text */
  
  .ambu-quote {
    background-color: #182942;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    flex: 3%;
    height: 12.5rem;
    padding: 3.75rem 10px 0px 0px;
    position: relative;
    top: 180px;
    writing-mode: vertical-lr;
  }
  
  /* Profile Banner (Left)*/
  
  .info {
    background-color: #5fd3c8;
    border-radius: 10px;
    flex: 30%;
    height: 100vh;
    margin: 5px 10px 5px 0.5%;
    position: relative;
    text-align: center;
  }
  
  /* LOGO */
  
  .ambu-logo img {
    border: none;
    border-radius: 10px;
    max-height: 7rem;
    margin-top: 5px;
    position: relative;
    width: 95%; 
  }
  
  .ambu-logo img:hover {
    cursor: pointer;
  }
  
  /* Profile Image */
  
  .profile-img img {
    border: none;
    height: 110px;
    margin-top: 20px;
    position: relative;
    width: 110px;
  }
  
  .profile-img img:hover {
    cursor: pointer;
  }
  
  /* Profile Text */
  
  .profile-text h2 {
    background-color: white;
    border-radius: 5px;
    color: black;
    margin: 30px auto 10px;
    position: relative;
    width: 90%;
  }
  
  .profile-text h2:hover {
    cursor: pointer;
    scale: 1.1;
    transition: 0.5s;
  }
  
  .profile-text p {
    color: white;
    font-size: 20px;
    font-weight: 300;
  }
  
  .profile-text p:hover {
    cursor: pointer;
  }
  
  /* Help */
  
  .help {
    border-radius: 5px;
    background-color: #afeeee;
    height: auto;
    left: 11px;
    margin: 20px 0px;
    position: absolute;
    width: 90%;
  }
  
  .help p:hover {
    cursor: pointer;
  }
  
  .help img {
    border-radius: 10px;
    height: auto;
    position: relative;
    width: 90%;                
  }
  
  /* Main profile Section */
  
  .profile {
    flex: 70%;
    height: 100vh;
  }
  
  /* Closure */
  
  .closure {
    font-size: 30px;
    font-weight: 400;
  }
  
  /* Main Profile Entries */
  
  .main-profile {
    background-color: white;
    height: 77.5vh;
  }
  
  .right-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  /* Icons that contains notifiction icon and user profile image */
  
  .right-icons {
    display: flex;
    margin-top: 2px;
  }
  
  .right-icons img:hover {
    scale: 1.3;
    transition: 0.5s;
  }

  .notificaion-img a img {
    height: 24px;
    margin-top: 14px;
    width: 25px;
  }
  
  .languages form select {
    border: 1px solid grey;
    border-radius: 4px;
    height: 25px;
    margin: 13px 20px;
    width: 140px;
    
  }
  
  .user-profile {
    margin: 8px 5px 0px 5px;
  }

  .user-profile i:hover {
    scale: 1.1;
    transition: 0.5s;
  }

  /* Main User Data entries starts from */

  .profile .profile-img-icon {
    height: 50px;
    margin: -14px 10px;
    width: 50px; 
  }
  
  .profile .profile-img-icon:hover {
      cursor: pointer;
  }
  
  /* Main Profile Image */
  
  .right-header img {
    height: 20px;
    margin: 0px 15px;
    width: 20px;
  }
  
  /* Buttons */
  
  .tags {
    display: flex;
    height: 50px;
    margin-left: 0px;
    width: 400px;
    z-index: -1;
  }
  
  .tags .tags1 button {
    background-color: #5fd3c8;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
    height: 50px;
    margin-right: 5px;
    padding: 7px;
    width: 180px;
  }
  
  .tags .tags1 button:hover {
    background-color: white;
    color: #5fd3c8;
    cursor: pointer;
    scale: 1.1;
    transition: 0.5s;
  }
  
  .tags .tags2 button {
    background-color: #5fd3c8;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
    height: 50px;
    margin-right: 5px;
    padding: 7px;
    width: 180px;  
  }
  
  .tags .tags2 button:hover {
    background-color: white;
    color: #5fd3c8;
    cursor: pointer;
    margin-right: 5px;
    scale: 1.1;
    transition: 0.5s;
  }
  
  .tags .tags3 button {
    background-color: #5fd3c8;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
    height: 50px;
    padding: 7px;
    width: 180px;
  }
  
  .tags .tags3 button:hover {
    background-color: white;
    color: #5fd3c8;
    cursor: pointer;
    margin-right: 5px;
    scale: 1.1;
    transition: 0.5s;  
  }
  
  /* Main Profile Entries */
  
  .main-profile {
    height: auto;
    z-index: 100000;
  }
  
  .main-profile .main-img {
    height: 120px;
    left: 60px;
    position: relative;
    top: 20px;
    width: 120px;
    
  }
  
  .main-profile .main-img:hover {
    cursor: pointer;
  }
  
  /* Edit Section */
  
  .edit {
    float: right;
    position: relative;
    right: 50px;
    top: 100px;
    
  }
  
  a .edit {
    color: black;
    text-decoration: none; 
  }
  
  .edit:hover {
    cursor: pointer;
  }
  
  /* Profile Section */
  
  .main-info {
    line-height: 50px;
    margin-top: 7%;
    margin-left: 10px;
  }
  
  /* First section */
  
  .main-info .first-row {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
  }
  
  .main-info .first-row input {
    border: none;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    font-size: 15px;
    font-weight: 400;
    height: 25px;
    margin-top: 7px;
    position: absolute;
    padding: 5px;
    right: 20%;
    width: 250px; 
  }
  
  /* Second Section */
  
  .main-info .second-row {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
  }
  
  .main-info .second-row input {
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    border: none;
    font-size: 15px;
    font-weight: 400;
    height: 25px;
    margin-top: 7px;
    position: absolute;
    padding: 5px;
    right: 20%;    
    width: 250px;  
  }
  
  /* Third Section */
  
  .main-info .third-row {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
  }
  
  .main-info .third-row input {
    border: none;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    font-size: 15px;
    font-weight: 400;
    margin-top: 7px;
    position: absolute;
    padding: 5px;
    right: 20%;
    width: 250px; 
  }
  
  /* Fourth Section */
  
  .main-info .fourth-row {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
  }
  
  .main-info .fourth-row input {
    border: none;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    font-size: 15px;
    font-weight: 400;
    margin-top: 7px;
    padding: 5px;
    position: absolute;
    right: 20%;
    height: 25px;
    width: 250px;
    
  }
  
  .main-info .fifth-row {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
  }
  
  /* Fifth Section */
  
  .main-info .fifth-row input {
    border: none;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    font-size: 15px;
    font-weight: 400;
    margin-top: 7px;
    padding: 5px;
    position: absolute;
    right: 20%;
    height: 25px;
    width: 250px;
  }
  
  .main-info .sixth-row {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
  }
  
  /* Sixth Section */
  
  .main-info .sixth-row input {
    border: none;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    font-size: 15px;
    font-weight: 400;
    margin-top: 7px;
    padding: 5px;
    position: absolute;
    right: 20%;
    height: 25px;
    width: 250px;
  }
  
  .main-info img {
    height: 16px;
    margin: 0;
    width: 16px;
  }
  
  .main-info img:hover {
    cursor: pointer;
  }
  
  /******** Code Ends Here ************/
  
