<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Link for Stylesheet that contains the css link -->

    <link rel="stylesheet" href="D:\AMBU\Ambu-Web-App-1\app\static\css\our-services.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jaldi&display=swap"
      rel="stylesheet"
    />

    <title>OUR Services</title>
  </head>
  <body>
    <div id="container">

      <!-- Nav Bar which contains all the navigations -->

      <header class="top-nav" id="navbar">

        <div class="ambu-logo-img">
        <abbr title="Company Logo">
          <div class="logo">
            <img src="{{url_for('static', filename='/assets/our-services-images-images/')}}logo.png" alt="" class="logo-img"
          />
          </div>
        </abbr>
        </divdivdiv bb

        <input id="menu-toggle" type="checkbox" />

        <label class="menu-button-container" for="menu-toggle">
          <div class="menu-button"></div>
        </label>
        <ul class="menu">

          <li class="link">
            <a href=""><abbr title="Home">HOME</abbr></a>
          </li>
          <li class="link">
            <a href=""><abbr title="About">ABOUT</abbr></a>
          </li>
          <li class="link">
            <a href=""><abbr title="Services">SERVICES</abbr></a>
          </li>

          <li class="form-header">
            <form action="/action_page.php">
              <select name="language" class="language">
                <option value="English">English</option>
                <option value="Hindi">Hindi</option>
                <option value="Tamil">Tamil</option>
                <option value="Others">Others</option>
              </select>
            </form>
          </li>

          <abbr title="User Profile Img"
            ><img src="{{url_for('static', filename='/assets/our-services-images-images/')}}profile-img.png" alt="" class="profile-img"
          /></abbr>
        </ul>
      </header>

      <!-- Nav bar section Ends Here -->

      <!-- Side Quotes which contain our main quote -->

      <div class="side-quote">
        <p>Your Health Is Our Priority</p>
      </div>

      <!-- side quote ends here -->

      <!-- Main Body part starts here -->

      <!-- main body header file-->

      <div class="main-text">
        <h1>OUR SERVICES</h1>
        <h2>AMBULANCE</h2>
      </div>

      <!-- Ambulance Cards -->

      <div class="cards-container">

        <!-- Card 1 -->

        <div class="card container-1">
          <img src="{{url_for('static', filename='/assets/our-services-images-images/')}}ambu1.png" alt="" class="card-img1" />

          <div class="card-text one">
            <h3>
              BASIC LIFE SUPPORT <br />
              ONMI
            </h3>
            <a href="#"><p><u>Tap To Know More</u></p></a>
            
            <div class="book-price one">
              <div class="btn"><button>BOOK NOW</button></div>
              <div class="price">
                <button><abbr title="Price">₹599</abbr></button>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 2 -->

        <div class="card container-2">
          <img src="{{url_for('static', filename='/assets/our-services-images-images/')}}ambu2.png" alt="" class="card-img2" />

          <div class="card-text two">

            <h3>
              BASIC LIFE SUPPORT <br />
              ONMI
            </h3>
            <a href=""><p><u>Tap To Know More</u></p></a>

            <div class="book-price two">
              <div class="btn"><button>BOOK NOW</button></div>
              <div class="price">
                <button><abbr title="Price">₹599</abbr></button>
              </div>
            </div>

          </div>

        </div>

        <!-- Card 3  -->

        <div class="card container-3">
          <img src="{{url_for('static', filename='/assets/our-services-images-images/')}}ambu3.png" alt="" class="card-img3" />

          <div class="card-text three">

            <h3>
              BASIC LIFE SUPPORT <br />
              ONMI
            </h3>
            <a href=""><p><u>Tap To Know More</u></p></a>

            <div class="book-price three">
              <div class="btn"><button>BOOK NOW</button></div>
              <div class="price">
                <button><abbr title="Price">₹599</abbr></button>
              </div>
            </div>

          </div>
        </div>

        <!-- Card 4 -->

        <div class="card container-4">
          <img src="{{url_for('static', filename='/assets/our-services-images-images/')}}ambu4.png" alt="" class="card-img4" />

          <div class="card-text four">

            <h3>
              BASIC LIFE SUPPORT <br />
              ONMI
            </h3>
            <a href=""><p><u>Tap To Know More</u></p></a>

            <div class="book-price four">
              <div class="btn"><button>BOOK NOW</button></div>
              <div class="price">
                <button><abbr title="Price">₹599</abbr></button>
              </div>
            </div>

          </div>
        </div>

        <!-- Card 5 -->

        <div class="card container-5">
          <img src="{{url_for('static', filename='/assets/our-services-images-images/')}}ambu5.png" alt="" class="card-img5" />

          <div class="card-text five">

            <h3>
              BASIC LIFE SUPPORT <br />
              ONMI
            </h3>
            <a href=""><p><u>Tap To Know More</u></p></a>

            <div class="book-price five">
              <div class="btn"><button>BOOK NOW</button></div>
              <div class="price">
                <button><abbr title="Price">₹599</abbr></button>
              </div>
            </div>

          </div>
        </div>

        <!-- Card 6 -->

        <div class="card container-6">
          <img src="{{url_for('static', filename='/assets/our-services-images-images/')}}ambu6.png" alt="" class="card-img6" />

          <div class="card-text six">

            <h3>
              BASIC LIFE SUPPORT <br />
              ONMI
            </h3>
            <a href=""><p><u>Tap To Know More</u></p></a>

            <div class="book-price six">
              <div class="btn"><button>BOOK NOW</button></div>
              <div class="price">
                <button><abbr title="Price">₹599</abbr></button>
              </div>
            </div>

          </div>
        </div>

        <!-- Card 7 -->

        <div class="card container-7">
          <img src="{{url_for('static', filename='/assets/our-services-images-images/')}}ambu7.png" alt="" class="card-img7" />

          <div class="card-text seven">

            <h3>
              BASIC LIFE SUPPORT <br />
              ONMI
            </h3>
            <a href=""><p><u>Tap To Know More</u></p></a>

            <div class="book-price seven">
              <div class="btn"><button>BOOK NOW</button></div>
              <div class="price">
                <button><abbr title="Price">₹599</abbr></button>
              </div>
            </div>

          </div>
        </div>

        <!-- Card 8 -->

        <div class="card container-8">
          <img src="{{url_for('static', filename='/assets/our-services-images-images/')}}ambu8.png" alt="" class="card-img8" />

          <div class="card-text eight">

            <h3>
              BASIC LIFE SUPPORT <br />
              ONMI
            </h3>
            <a href=""><p><u>Tap To Know More</u></p></a>

            <div class="book-price eight">
              <div class="btn"><button>BOOK NOW</button></div>
              <div class="price">
                <button><abbr title="Price">₹599</abbr></button>
              </div>
            </div>

          </div>
        </div>

        <!-- Card 9 -->

        <div class="card container-9">
          <img src="{{url_for('static', filename='/assets/our-services-images-images/')}}ambu9.png" alt="" class="card-img9" />

          <div class="card-text nine">

            <h3>
              BASIC LIFE SUPPORT <br />
              ONMI
            </h3>
            <a href=""><p><u>Tap To Know More</u></p></a>

            <div class="book-price nine">
              <div class="btn"><button>BOOK NOW</button></div>
              <div class="price">
                <button><abbr title="Price">₹599</abbr></button>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Main body part ends here -->

      <!-- Footer Section -->

      <div class="footer">

        <!-- Footer Main Header Section -->

        <div class="footer-header">

          <div class="footer-img">
            <img src="{{url_for('static', filename='/assets/our-services-images-images/')}}india.png" alt="" />
          </div>

          <!-- footer quote -->
          
          <div class="ambu-footer-quote">
            <h3>India's First Unified Health Care Software</h3>
          </div>

        </div>

        <!-- Reach Us section -->

        <div class="us">

          <div class="know-us">
            <h2>Know Us</h2>
            <p><a href="#">HOME</a></p>
            <p><a href="#">Profile</a></p>
            <p><a href="#">About Us</a></p>
            <p><a href="#">Services</a></p>
          </div>

          <div class="services">
            <h2>Services</h2>
            <p><a href="#">ALS Ambulance</a></p>
            <p><a href="#">BLS Ambulance</a></p>
            <p><a href="#">PTS Ambulance</a></p>
            <p><a href="#">Mortality Ambulance</a></p>
          </div>

          <div class="contact-us">

            <h2>Contact Us</h2>
            <div class="address">
              <abbr title="Company address">
                <img src="{{url_for('static', filename='/assets/our-services-images-images/')}}google-maps.png" alt="" />
              
              <p><a href="#" class="add">XYZ ABC Technology Business Incubation Uttar Pradesh India</a></p></abbr>
            </div>
            <div class="mail">
              <abbr title="Comapany email-Id">
                <img src="{{url_for('static', filename='/assets/our-services-images-images/')}}gmail.png" alt=""
              />
              <p><a href="#">ambu272008@gmail.com</a></p></abbr> 
            </div>
            <div class="phone">
              <abbr title="Company contact number">
                <img src="{{url_for('static', filename='/assets/our-services-images-images/')}}telephone.png" alt=""
              />
              <section>
                <p><a href="#">9856473456</a></p>
                <p><a href="#">6885647375</a></p>
              </section></abbr>
            </div>

          </div>

        </div>

        <!-- Connect Us Section -->

        <div class="connect">

          <p>Connect With Us</p>

          <div class="icons">

            <abbr title="instagram" class="first-icon">
              <a href="#"><img src="{{url_for('static', filename='/assets/our-services-images-images/')}}instagram.png" alt="" /></a>
            </abbr>

            <abbr title="whatsapp"  class="second-icon">
              <a href="#"><img src="{{url_for('static', filename='/assets/our-services-images-images/')}}whatsapp.png" alt="" /></a>
            </abbr>

            <abbr title="twitter" class="third-icon">
              <a href="#"><img src="{{url_for('static', filename='/assets/our-services-images-images/')}}twitter.png" alt="" /></a>
            </abbr>

            <abbr title="linkedin" class="fourth-icon">
              <a href="#"><img src="{{url_for('static', filename='/assets/our-services-images-images/')}}linkedin.png" alt="" /></a>
            </abbr>

          </div>
        </div>

        <!-- Download section -->

        <div class="download">

          <div class="appstore">
          <abbr title="app-store">
              <img src="{{url_for('static', filename='/assets/our-services-images-images/')}}app-store.jpg" alt=""
            />
          </abbr>
          </div>

          <div class="playstore">
          <abbr title="play-store">
              <img src="{{url_for('static', filename='/assets/our-services-images-images/')}}play-store.png" alt=""
            />
          </abbr>
          </div>

        </div>

        <!-- Copyright Section -->

        <div class="copyright">
          <p>copyright @2023 AMBU Organisation</p>
        </div>
        
      </div>
    </div>

    <!-- HTML code Ends Here -->

    <!-- JavaScript code begins from here -->

    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <script>
      $(document).ready(function () {
        $(window).on('scroll', function() {
          if ($(window).scrollTop()) {
                $("header").addClass("bgc", "logo img", "menu-one");
                $(".menu").addClass("menu-one");
          }else {
                $("header").removeClass("bgc", "logo img", "menu-one");
                $(".menu").removeClass("menu-one");
          }
        });
      });
      

    </script>
  </body>
</html>

