<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\Sign_Up.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>                       
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaldi:wght@700&family=Kadwa:wght@700&display=swap" rel="stylesheet">
    <title>Sign Up</title>
</head>
<body>

    <div id="header">

        <!-- Creating left side of navbar that contain AMBU logo -->
        <div id="left-header">
            <abbr title="AMBU logo"><a href="#"> <img src="..\assets\Sign-Up-images\AMBU_logo.png" alt="AMBU Logo" id="logo"> </a></abbr>
        </div>

        <!-- Creating right side of navbar that contain navigation option -->
        <div class="right-header"> 

                <!-- Creating Nav option and adding a tag to them -->
            <div class="right-header-element">
                <a href="#"> <abbr title="HOME">HOME</abbr> </a>
            </div>
            <div class="right-header-element">
                <a href="#"> <abbr title="ABOUT"> ABOUT</> </abbr>
            </div>
            <div class="right-header-element">
                <a href="#"> <abbr title="SERVICES">SERVICES</abbr></a>
            </div>

            <!-- Dropdown list for language -->
            <div class="right-header-element">
                <select name="language" id="language">
                    <!-- <option value="default-language">Language</option> -->
                    <option value="english">English</option>
                    <option value="hindi">हिंदी</option>
                    <option value="tamil">தமிழ்</option>

                </select>
            </div>

            <!-- profile icon -->
            <div class="right-header-element">
                <a href="#"><i class='fa fa-user-circle-o fa-lg'></i></a>
            </div>
        </div>
    </div>

    <div id="content">

        <!-- It contains AMBU, Tag line and download app button-->
        <div class="body-left">

            <h1>AMBU</h1> 

            <p>The Unified Health Care and <br>Management System</p>

            <!-- Download button -->
            <button style="display: flex; 
                            justify-content: space-around;
                            align-items: center;
                            width: 20rem;">

                <div class="android"> <i class="fa fa-android"></i> </div> 
                <div class="download-app"> Download App </div>

            </button>
        </div>

        <!-- Right part of body -->
        <div class="body-right">

            <div class="Signup">

                <!-- input fields  -->
                <div class="Signup-form">
                    <center>
                    <form>

                        <h2 style="font-size: 3rem; margin-top: 0.5rem; margin-bottom: 0.5rem;">Sign-Up</h2>

                        <div class="input-icons">                            
                            <input class="input-field" id="fullname"
                                type="text"
                                placeholder="Full Name">
                        </div>
            
            
                        <div class="input-icons">
                            
                            <input class="input-field" id="mobileno"
                                type="mob"
                                placeholder="Mobile No">
                        </div>

                        <div class="input-icons">
                            
                            <input class="input-field" id="password"
                                type="password"
                                placeholder="Password">
                        </div>

                        <div class="input-icons">
                            
                            <input class="input-field" id="repassword"
                                type="password"
                                placeholder="Re-Password">
                        </div>
                        
                        <div class="Proceed">
                            <button>
                                Proceed
                            </button>
                        </div>

                    </form>
                </center>
            </div>

                <!-- sidebar -->
                <div class="theme">
                    <p>Because We Care !</p> 
                </div>
            </div>
              
            <!-- Other options -->
            <div class="options">
                <a href="#">Login</a>
                |
                <a href="#">Emergency</a>
            </div>

            <!-- Chat Box -->
            <div class="chatbox">
                    <a href="#"><img src="..\assets\Sign-Up-images\chatbox.png"></a>
            </div>
        </div>
    </div>

    
</body>
</html>